
@{
    ViewBag.Title = "Index";
}

<div role="main" class="container theme-showcase">
        <div class="col-lg-8">
            <div class="page-header">
                <h2 id="tables">Список ваших закупок</h2>
            </div>
            <div class="bs-component" ng-controller="listProcurements as data">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Наименование</th>
                        <th>Дата создания</th>
                        <th>Подробное описание</th>
                        <th>Сумма</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-show="procurements.length <= 0"><td colspan="5" style="text-align:center;">Идет загрузка данных</td></tr>
                    <tr dir-paginate="procurement in procurements|itemsPerPage:itemsPerPage" total-items="total_count" current-page="pageno">
                        <td>{{procurement.Id}}</td>
                        <td>{{procurement.Name}}</td>
                        <td>{{procurement.Created | ctime}}</td>
                        <td>{{procurement.Description}}</td>
                        <td>{{procurement.Total}}</td>
                    </tr>
                    </tbody>
                </table> 
                <dir-pagination-controls
                    max-size="8"
                    direction-links="true"
                    boundary-links="true" 
                    on-page-change="pageChanged(newPageNumber)" >
                </dir-pagination-controls>
            </div>
        </div>
</div>

